<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crud na interface </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center"> Personagens</h2>
                </div>
            </div>
            
            <div class="row">

                    <div class="col-md-3 "></div>
                    <div class="col-md-6">
                        <div class="marginFix ">
                            <button type='button' id="characterAddBtn" class='btn btn-lg btn-primary'>
                                Adicionar Personagem
                            </button>
                            <button type='button' id="characterUpdateBtn" class='btn btn-lg btn-primary conditionalBtn'>
                                Editar Personagem
                            </button>
                            <button type='button' id="characterDeleteBtn" class='btn btn-lg btn-danger conditionalBtn'>
                                Excluir Personagem
                            </button>
                        </div>
                        
                        <table id="characterTable" class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th id="name">Nome</th>
                                <th id="level">Nível</th>
                                <th id="health">Saúde</th>
                                
                            </tr>
                            </thead>
                            <tbody id="characterTableBody"></tbody>
                        </table>
                   
                </div>
            </div>
            <div class="row">
                <div class="overlay" id="mainNav">
                        <div class="overlay-content">
                                <div class="col-md-3 "></div>
                                <div class="col-md-6">
                                    <div  id="panelHead" class="panel panel-primary ">
                                        <div class="panel-heading" id="panelTitle">Inserir Novo Personagem</div>
                                            <div class="panel-body">
                                                <form id="character-form">
                                                    <div class="form-group">
                                                        <label for="name">Nome</label>
                                                            <input type="text" name="name" id="character_name" class="form-control input-lg"
                                                                placeholder="Nome do Personagem" required>
                                                    </div>
                
                                                    <div class="form-group">
                                                        <label for="level">Nível</label>
                                                        <input type="number" name="level" id="character_level" class="form-control input-lg"
                                                            placeholder="Nível do personagem" required>
                                                    </div>
                
                                                    <div class="form-group">
                                                        <label for="health">Saúde</label>
                                                        <input type="number" name="health" id="character_health" class="form-control input-lg"
                                                            placeholder="saúde" required>
                                                    </div>
                                                    <div class="wrapper">
                                                        <div class="form-group pull-left btnfix">
                                                            <button type="submit" id="updateButton" class="btn btn-lg btn-success">
                                                            Salvar
                                                            </button>
                                                        </div>
                                                        <div class="form-group pull-left btnfix">
                                                                <button type="button" id="cancelButton" class="btn btn-lg btn-secondary">
                                                                Cancelar
                                                                </button>
                                                        </div>
                                                        <div class="error-msg text-center"><p></p></div>
                                                    <div class="clear"></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                </div>
                
                </div>
        </div>

       

        <script type="text/html" id="characterTemplate">
            <tr class="tableindex" data-href="#" id="'<%- id %>'" data-id="'<%- id %>'">
                <td><%- name %></td>
                <td><%- level %></td>
                <td><%- health %></td>
            </tr>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/form.js"></script>
        <script src="js/table.js"></script>
        <script src="js/main.js"></script>
        <script src="js/jsonParse.js"></script>
       
        
      
    </body>
</html>